@CHARSET "UTF-8";
/*工厂搜索*/
.form-horizontal > table td{
	padding-bottom:15px;
}

.form-horizontal > table td > button.btn-default{
	width:inherit;
	overflow:hidden;
	background: url('../image/select-btn.png') no-repeat 90%;
}

.form-horizontal > table td:first-child{
	width:65px;
}

.form-horizontal > table td:first-child + td{
	width:273px;
}

/*实力工厂*/
.strength-enterprise .panel-body{
	padding:15px 0;
}

.strength-enterprise td{
	width:25%;
	padding:0px 5px;
	text-align: center;
}

.media-heading{
	color:#4cb6ed;
}

/*接单工厂*/
#enterpriseList h4 a{
	text-decoration:none;
}

/*热门区域*/
.hotAreaDiv img{
	width:130px;
	height:123px;
}
.hotAreaDiv table{
	width:100%;
}
.hotAreaDiv table td{
	padding:10px;
}
.hotAreaDiv a{
	text-decoration:none;
	color:#8C8C8C;
}
.hotAreaDiv span{
	color:#8C8C8C;
	padding:3px;
	margin:0 10px;
}