@CHARSET "UTF-8";
body > table td{
	
}

.search-panel td{
	vertical-align:top;
	padding-bottom:10px;
	color:grey;
}

.search-panel td b{
	color:black;
}

.search-panel a{
	margin-right:15px;
	font-size: 14px;
}