@CHARSET "UTF-8";
/*工厂搜索*/
.form-horizontal > table td{
	padding-bottom:15px;
}

.form-horizontal > table button.btn-default{
	width:inherit;
	overflow:hidden;
	background: url('../image/select-btn.png') no-repeat 90%;
}

.form-horizontal > table td:first-child{
	width:65px;
}

.form-horizontal > table td:first-child + td{
	width:273px;
}

/*实力工厂*/
.panel-ad1 .panel-body{
	padding:15px 0;
}
.panel-ad1 tr{
	height:90px;
}

.panel-ad1 td{
	padding:0px 10px;
	text-align: center;
}
.panel-ad1 img{
	width:100%;
}

.media-heading{
	color:#4cb6ed;
}