@CHARSET "UTF-8";
img{
	width:100%;
}

/*左侧导航栏*/
ul.category-search{
	list-style-type:none;
	width:230px;
	padding:0px 10px;
	background-color:#F8F8F7;
}
ul.category-search h5{
	margin:0px;
	padding:2px;
	text-align:center;
}
ul.category-search a{
	color:#8C8C8C;
	font-size:12px;
	text-decoration:none;
}
ul.category-search span{
	color:#8C8C8C;
	padding:3px;
}
/*h5 a覆盖上面的a标签样式*/
ul.category-search h5 a{
	font-size:16px;
	color:black;
}
ul.category-search a:HOVER{
	color:#337AB7;
}
/*服饰分类a标签间距*/
ul.category-search li.fushi_li > a{
	padding:7px;
}
/*服饰辅料a标签间距*/
ul.category-search li.fuliao_li > a{
	padding:3px;
}
/*家纺a标签间距*/
ul.category-search li.jiafang_li > a{
	padding:10px;
}
/*皮革皮草a标签间距*/
ul.category-search li.picao_li > a{
	padding:4px;
}
/*鞋类a标签间距*/
ul.category-search li.xie_li > a{
	padding:5px;
}
/*子菜单*/
.cat-subcategory{
	position:absolute;
	left:230px;
	padding:10px 0px 10px 20px;
	z-index:10;
	border:3px solid #EFEEEC;
	border-left:0px;
	background:#fff;
	display:none;
}
.cat-subcategory h5{
	color:#3C96EB;
	font-size:16px;
	margin:0px;
	padding-bottom:3px;
	border-bottom: 1px solid #3C96EB;
}
.cat-subcategory h5 a{
	text-decoration:none;
}
.cat-subcategory table table{
	width:220px;
	margin-bottom:10px;
}
.cat-subcategory > div > table > tbody > tr > td{
	padding-right:20px;
}
.cat-subcategory table table a{
	color:#8C8C8C;
	font-size:12px;
	text-decoration:none;
}
.cat-subcategory table table a:HOVER{
	color:#337AB7;
}

/*轮播(大广告)*/
#carousel-big-ad img{
	height:280px;
}

#table1 td{
	vertical-align:top;
}

#table1 .panel i{
	color:#FF842F;
}

.panel-heading span{
	font-size:20px;
	color:#008AE6;
}

/*实力工厂、认证工厂*/
#table2 .col-md-8 div{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

#table2 .ad,#table2 .col-md-8{
	padding:0px;
}

#table2 .col-md-8 img{
	height:100px;
}

/*服饰类型列表*/
.costumeList{
	/* height:290px; */
}
.costumeList h3{
	margin:0px;
}
.costumeList h3 span{
	background-color:#008CE8;
	margin-right:8px;
}
.costumeList h3 + div{
	margin:15px 0 0 15px;
}
.costumeList > tr > td{
	width:595px;
}

.costumeList .td1{
	padding-right:3px;
}

.costumeList .td2{
	padding-left:3px;
}
.costumeList .table img{
	width:125px;
	height:62px;
}
/*覆盖上面的图片样式*/
.costumeList .table > tbody > tr > td:first-child > img{
	width:205px;
	height:290px;
}
.costumeList .table > tbody > tr:first-child > td:first-child{
	width:205px;padding:0;
}

.costumeList .table > tbody > tr:first-child > td:first-child + td{
	height:85px;
}

.costumeList .table > tbody > tr:first-child + tr > td:first-child{
	width:240px;
}

.costumeList .table table{
	width:100%;
}
.costumeList .table table td{
	padding-bottom:18px;
}
.costumeList .table a{
	color:#8C8C8C;
	text-decoration:none;
}
.costumeList .table a:hover{
	color:#337AB7;
}

/*新手指南*/
.helpTable{
	margin-top:20px;
	margin-left:60px;
}
.helpTable tr:FIRST-CHILD img{
	width:23px;
	height:23px;
}
.helpTable h4{
	margin:0 150px 0 20px;
}
.helpTable tr:FIRST-CHILD + tr{
	vertical-align:top;
}
.helpTable tr:FIRST-CHILD + tr img{
	margin-right:20px;
}
/*虚线*/
.helpTable div{
	border-right:1px dashed #D8D8D8;
	width:12px;
	height:100px;
}
.helpTable p{
	margin-left:20px;
	color:#666666;
}
.helpTable p:FIRST-CHILD {
	margin-top:10px;
}