@CHARSET "UTF-8";
.main-body > div.row{
	margin-bottom:10px;
}

img{
	width:100%;
}

ul.category-search{
	width:200px;
	background-color:#F8F8F7;
}

#carousel-big-ad img{
	height:280px;
}

#table1 td{
	vertical-align:top;
}

#table1 .panel i{
	color:#FF842F;
}

.panel-heading span{
	font-size:20px;
	color:#008AE6;
}

.cat-subcategory{
	position:absolute;
	left:200px;
	padding:10px 20px;
	z-index:10;
	width:457px;
	border:3px solid #EFEEEC;
	border-left:0px;
	background:#fff;
	display:none;
}

.cat-subcategory a{
	margin-right:20px;
}

#table2 .ad,#table2 .col-md-8{
	padding:0px;
}

#table2 .col-md-8 img{
	height:100px;
}
