@CHARSET "UTF-8";
/*面包屑*/
.crumb{
	border:1px solid #DDD;
	padding:5px;
	margin-bottom:10px;
}
.crumb span.glyphicon{
	font-size:16px;
	color:#4EB8ED;
	margin-right:10px;
}
.crumb a:hover{
	text-decoration:none;
}

#districtBtn{
	width:320px;
	overflow:hidden;
	background: url('../image/select-btn.png') no-repeat 90%;
}

h3.cus-panel-title{
	font-size:20px;
	color:#008AE6;
}

.search-panel td{
	vertical-align:top;
	padding-bottom:10px;
	color:grey;
}

.search-panel td b{
	color:black;
}

.search-panel a{
	margin-right:15px;
	font-size: 14px;
}

/*订单列表*/
#indentDiv table{
	border: 1px solid #E6E4E1;
}
#indentDiv table td{
	vertical-align: middle;
}

/*行业分类*/
#tradeDiv p{
	padding:10px;
}
#tradeDiv p img{
	width:30px;
	height:30px;
}
#tradeDiv a:link{
	color:black;
}
#tradeDiv a{
	margin-left:20px;
	font-size:18px;
	text-decoration: none;
}