@CHARSET "UTF-8";
/*订单搜索*/
.form-horizontal > table td{
	padding-bottom:15px;
}

.form-horizontal > table button.btn-default{
	width:inherit;
	overflow:hidden;
	background: url('../image/select-btn.png') no-repeat 90%;
}

.form-horizontal > table td:first-child{
	width:65px;
}

.form-horizontal > table td:first-child + td{
	width:273px;
}

/*如何得到高质量的订单*/
.panel-tip1 .panel-body{
	padding:10px;
}

.panel-tip1 .panel-body h4{
	margin:0px 0px 5px 0px;
	color:#008FE6;
}
.panel-tip1 .panel-body p{
	padding-left:2em;/*缩进两个字体*/
}

#personOrder th,#personOrder td,#enterpriseOrder th,#enterpriseOrder td{
	border:0px;
}

.media-heading{
	color:#4cb6ed;
}