@CHARSET "UTF-8";
/*"新建发布订单"标头*/
table.title{
	text-align:center;
	background-color: #CBEDFC;
}

.mytable td{
	vertical-align:top;
}

#indentUL .list-group-item{
	padding-left:70px;
}

#indentUL .list-group-item h4{
	color:#33b3fe;
}

/*设置表格行高*/
#indentUL .list-group-item > table > tbody > tr{
	height:50px;
}

#costumeBtn{
	width:100%;
	overflow:hidden;
	background: url('../image/select-btn.png') no-repeat 90%;
}