@CHARSET "UTF-8";
.top-banner{
	width:100%;
	padding:20px 180px;
	background-color:white;
}

.background_div{
	height:600px;
	width:100%;
	background-image: url('../image/login.png');
	background-size:cover;
}

.form-box{
	margin-top:150px;
	padding:30px;
	background-color:#EAFAFE;
}

.form-box form{
	margin-top:40px;
}

.input-group-addon{
	background-color:white;
}

.input-group-addon .glyphicon{
	color:grey;
}
.form-box button{
	width:100%;
	background-color: #008FDE;
}

.sign_up_container{
	width:50%;
	margin-top:30px;
	padding-bottom:50px;
	background-color:white;
}

.sign_up_container button{
	width:100%;
	background-color: #008FDE;
}