@CHARSET "UTF-8";
html,body,div,ul,p,span,button{
	padding:0;
	margin:0;
	font-family:微软雅黑;
}

/*面包屑*/
.crumb{
	border:1px solid #DDD;
	padding:5px;
	margin-bottom:10px;
}
.crumb span.glyphicon{
	font-size:16px;
	color:#4EB8ED;
	margin-right:10px;
}
.crumb a:hover{
	text-decoration:none;
}

/*工厂基本信息*/
#baseInfoDiv button{
	width:160px;
	color:white;
	background-color:#FF842F;
}
#baseInfoDiv a{
	text-decoration:none;
}