@CHARSET "UTF-8";
/**自定义的EasyUI样式
*@author 支煜
*@date 2016-03-23
*/

/*================覆盖datagrid的默认样式===================*/
/*设置表头thead中包围文字的span的样式*/
.datagrid-header .datagrid-cell span {
	font-weight:bold;
	font-size: 16px;
}
/*设置表头的显示样式*/
.datagrid-header-inner {
	background-color:#DFF0D8;/*设置表头的背景色*/
}
/*设置表头的高度。该class应用在构成表头的table中的tr元素上*/
.datagrid-header-row {
	height:40px;
}

/*设置表格tbody的row样式*/
.datagrid-row {
	height:40px;
}
/*设置表格tbody中cell(应用该样式的是td中的div)的样式*/
.datagrid-cell {
	font-size:16px;
}